body {
    background: linear-gradient(120deg, #2980b9, #8e44ad);
}

.navbar {
    background: black;
    border-radius: 30px;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 10px 20px;
}

.navbar li a {
    color: white;
    padding: 3px 3px;
    text-decoration: none;
}

.search {
    float: right;
    padding: 10px 5%;
}

.navbar input {
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    padding: 2px 3px;
}

footer {
    grid-area: bottom;
    background-color: black;
    text-align: center;
    padding: 50px 20px 50px 20px;
    color: white;
}

.social {
    text-align: center;
}

.social img {
    margin-top: 5px;
    padding: 4px 4px 4px 4px;
    height: 15px;
    width: 15px;
}

.slidertop {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 550px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.slidertop img {
    height: 100%;
    width: 100%;
}

.btn-slider {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}

.btn-slider span {
    height: 15px;
    width: 50px;
    border: 2px solid white;
    margin: 0 3px;
    cursor: pointer;
}

.btn-slider span:hover {
    background: white;
}